<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <title>BrightCrest Media </title>
  <link rel="stylesheet" href="navbar.css">
 
</head>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="navbar.css">
  <title>Static Menu</title>
</head>
<body>
  <nav class="menu">
    <ul>
    <img src="logo\Brightcrest-Media-Alliance-Logo_Dark.png" alt="BrightCrest Media Logo">
      <li><a href="#">Home</a></li>
      <li><a href="components\about">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</body>
</html>
